<h1 class="text-primary">Log In Empleado</h1>


<form method="post">

    <label for="">User</label>
    <input type="text" name="username" class="form-control">
    
    <label for="">Password</label>
    <input type="text" name="password" class="form-control">
    
    <button class="btn btn-primary">Log In</button>
</form>


<h3 class="text-danger">@ViewData["MENSAJE"]</h3>